<h2><%= @title %></h2>

<%= f = form_for @changeset, "#",
  id: "word-form",
  phx_target: @myself,
  phx_change: "validate",
  phx_submit: "save",
  class: "bg-white flex flex-col w-full" %>

  <%= label f, :new_word %>
  <%= text_input f, :new_word %>
  <%= error_tag f, :new_word %>

  <%= submit "Save", phx_disable_with: "Saving..." %>
</form>
